@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Fira+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Oswald", sans-serif;
  --font-fira-sans: "Fira Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-fira-sans: var(--font-fira-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #030202;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
